################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WeddingPlanner/v16
/.vs/WeddingPlanner/config
